body {
    /* background-image: url("../assets/194-1947262_nature-background-full-size.jpg"); */
    background-color: #DADECB;
}

header {
    display: flex;
    justify-content: space-evenly;
    background-color: #B4C7A2;
}

.about-link {
    text-decoration: none;
    color: black;
}

.about-link:hover {
    color: forestgreen;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    line-height: 25px;
}

li {
    padding-bottom: 20px;
}

main div {
    padding: 40px;
    margin: 20px;
}

.welcome {
    background-color: #B4C7A2;
    color: rgb(0, 0, 0);
    text-align: center;
    box-shadow: 7px 8px 21px -1px rgba(0, 0, 0, 0.75);
    width: 850px;
}

.welcome-img {
    width: 750px;
    display: flex;
    justify-self: center;
}

.songbirds-in-peril {
    background-color: #B4C7A2;
    color: rgb(0, 0, 0);
    text-align: center;
    box-shadow: 7px 8px 21px -1px rgba(0,0,0,0.75);
    width: 850px;
}

.project-goals {
    background-color: #B4C7A2;
    color: rgb(0, 0, 0);
    text-align: center;
    box-shadow: 7px 8px 21px 0px rgba(0,0,0,0.75);
    width: 850px;
}

.contact {
    background-color: #B4C7A2;
    color: rgb(0, 0, 0);
    text-align: center;
    box-shadow: 7px 8px 21px -1px rgba(0,0,0,0.75);
    width: 850px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-self: center;
    align-items: center;
    align-self: center;
    background-color: #004C24;
    width: 400px;
    padding: 20px;
    box-shadow: 7px 8px 21px -1px rgba(0,0,0,0.75);
}

.form input {
    margin: 5px;
    height: 40px;
    width: 300px;
}

.form textarea {
    margin: 5px;
    height: 150px;
    width: 300px;
}

.acknowledgements {
    display: 
}
.nsf-logo {
    width: 285px;
}

@media only screen and (max-width: 600px) {
    div {
        max-width: 550px;
        
    }
    img {
        max-width: 450px;
    }
}